{% extends "core.html" %}
{% block content %}

<div class="container-fluid">
    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="add-admin-tab" data-toggle="tab" href="#add-admin" role="tab" aria-controls="discussion" aria-selected="true">Add Admin</a>
        </li>
            <li class="nav-item">
            <a class="nav-link" id="add-course-tab" data-toggle="tab" href="#add-course" role="tab" aria-controls="add-course" aria-selected="false">Add Course</a>
        </li>        
    </ul> 
    <div class="tab-content" id="myTabContent">
        <div class="tab-pane show active" id="add-admin" role="tabpanel" aria-labelledby="add-admin-tab">
            {% if profiles %}
                {% for profile in profiles %}
                    <ul class="list-group">
                        <li class="list-group-item profile">
                            <div class="profile-body">
                                {{profile.FirstName}} {{profile.LastName}}
                            </div>
                            <div class="message-sender">
                                <form action="/ed/admin/{{profile.id}}" method="post">                        
                                    <input id="postType" type="hidden" name='postType' value="addAdmin">
                                    {% if profile.is_admin %}
                                        <input type="submit" value="Remove Admin" class="btn btn-danger">
                                    {% else %}
                                        <input type="submit" value="Add Admin" class="btn btn-success">
                                    {% endif %}
                                {% csrf_token %}
                                </form>
                            </div>
                        </li>
                    </ul>
                {% endfor %}
            {% endif %}
        </div>
       
        <div class="tab-pane show" id="add-course" role="tabpanel" aria-labelledby="add-course-tab">
            <div class="card">
            <form action="/ed/admin/1" method="post">                        
                <input id="postType" type="hidden" name='postType' value="addCourse">                                
                <div class="form-group">
                    <input type="text" placeholder="Course Code" name="courseCode">
                </div>
                <div class="form-group">
                    <input type="text" placeholder="Course Name" name="courseName">
                </div>
                <input type="submit" value="Add Course" class="btn btn-success">                    
            {% csrf_token %}
            </form>
            </div>
            
        </div>
    </div>       
</div>
{% endblock %}
