{% extends "core.html" %}
{% block content %}
 <div class="container-fluid" style="margin-bottom: 2rem; margin-top: 3rem">
    <div class="row">
        <div class="col-12">
        <form action="/ed/courses/search" method="post" style="display: flex; justify-content: center">
            {% csrf_token %}
            <div class="search-box" style="display: flex">                
                <input id="search" name="search" type="text">

            </div>
            <input type="submit" value="Search Courses" style="width: auto" class="btn btn-primary">
        </form>
        </div>
    </div>
</div>
<div class="container-fluid">
    
    {% if courses %}
        <ul class="list-group">
        {% for course in courses %}
            
            <li class="list-group-item" style="display: flex">
                <a href="{{course.courseCode}}">{{course.courseCode}}: {{course.courseName}}</a>
                <div class="ctas" style="margin-left: auto">
                    <a class="btn btn-primary" href="/ed/courses/{{course.courseCode}}">
                        View Course
                    </a>
                </div>
            </li>
            
        {% endfor %}
        </ul>
    {% else %}
        <p>Couldnt find any courses.. try again</p>
    {% endif %}
<div>
{% endblock %}