{% extends "core.html" %}
{% block content %}
    {% if course %}
    <div class="row">
        <div class="col-6">
            <div class="title" style="display: flex;">
                <h1>{{course.courseCode}}:</h1>
                <h2>{{course.courseName}}</h2>
            </div>
        </div>
        <div class="col-6" style="display: flex;">           
            <form action="/ed/courses/{{course.courseCode}}" method="post" style="margin-left: auto">
                {% csrf_token %}
                    {% if subscribed %}
                        <button type="submit" name="code" value="{{course.courseCode}}" class="btn btn-danger">

                        Remove from your courses
                    {% else %}
                        <button type="submit" name="code" value="{{course.courseCode}}" class="btn btn-primary">

                        Add to your courses
                    {% endif %}
                </button>
            </form>
        </div>
    </div>
    {% else %}
        <h1>Course Not Found</h1>
    {% endif %}
    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="discussion-tab" data-toggle="tab" href="#discussion" role="tab" aria-controls="discussion" aria-selected="true">Discussion</a>
        </li>
         <li class="nav-item">
            <a class="nav-link" id="resources-tab" data-toggle="tab" href="#resources" role="tab" aria-controls="resources" aria-selected="false">Resources</a>
        </li>
         <li class="nav-item">
            <a class="nav-link" id="members-tab" data-toggle="tab" href="#members" role="tab" aria-controls="members" aria-selected="false">Members</a>
        </li>
    </ul>
    <div class="tab-content" id="myTabContent">
        <div class="tab-pane show active" id="discussion" role="tabpanel" aria-labelledby="discussion-tab">
            {% if discussion %}
        </div>
        <div class="tab-pane show" id="resources" role="tabpanel" aria-labelledby="resources-tab">
            <div class="container">
            {% if resources %}
                <div class="row" style="margin-top:2rem">
                    {% for resource in resources %}
                    <div class="col-4">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">
                                    {{resource.resourceName }}
                                </h5>
                                
                                <p class="card-text">
                                    {{resource.resourceDescription}}
                                </p>
                                <div class="btn-group">
                                    <a href="{{resource.resourceLink}}" class="btn btn-primary" target="blank">
                                        View Resource
                                    </a>
                                    <a href="/ed/courses/{{course.courseCode}}/{{resource.id}}" class="btn btn-secondary">
                                        View Discussion
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            {% endif %}
            </div>
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#resourceModal">
            Add a resource
        </button>
        <div class="modal fade" id="resourceModal" tabindex="-1" role="dialog" aria-labelledby="resourceModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="resourceModalLabel">Add a resource</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                    <form action="/ed/courses/{{course.courseCode}}/resource" method="post">
                        <label for="resourcename">Resource Name: </label>
                        <input id="resourcename" type="text" name="resourcename">
                        <label for="resourcedesc">Resource Description:</label>
                        <input id="resourcedesc" type="text" name="resourcedesc">
                        
                        <label for="resourcelink">Resource Link:</label>
                        <input id="resourcelink" type="url" name="resourcelink">

                        <input id="coursecode" type="hidden" name='coursecode' value={{course.courseCode}}>
                        <input type="submit" value="Submit">
                        {% csrf_token %}
                    </form>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <button type="button" class="btn btn-primary">Save changes</button>
                </div>
              </div>
            </div>
          </div>

        </div>
        <div class="tab-pane show" id="members" role="tabpanel" aria-labelledby="members-tab">
            {% if profiles %}
                {% for member in profiles %}
                    <ul class="list-group">
                        <li class="list-group-item"><a href="/ed/profile/{{member.id}}">{{member.FirstName}} {{member.LastName}}</a></li>
                    </ul>
                {% endfor %}
            {% endif %}
        </div>
    </div>
    
</body>
{% endblock %}