<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Home page</title>
</head>

<body>
    {% if course %}
        <ul>
            <li>Course Found</li>
            <li>{{course.courseCode}}</li>
            <li>{{course.courseName}}</li>
        </ul>
    {% else %}
        <h1>Course Not Found</h1>
    {% endif %}
    {% if resources %}
        <ul>
            {% for resource in resources %}
                <li>{{resource.id}} </li>
                <li>{{resource.resourceName }}</li>
            {% endfor %}
        </ul>
    {% endif %}
</body>