{% extends "base.html" %}
{% block indexcontent %}
    <form action="/ed/courses/search" method="post">
        {% csrf_token %}
        <label for="search">Search Courses</label>
        <input id="search" name="search" type="text" >
        <input type="submit" value="Search">
    </form>
    {% if courses %}
        <div class="courses Container">
            {% for course in courses %}
                <div class="course">
                    {{course}}
                </div>
            {% endfor %}
        </div>
        {% else %}
        <h1>No courses</h1>
    {% endif %}
{% endblock %}