{% extends "core.html" %}
{% block content %}
<div class="container-fluid" style="margin-bottom: 2rem; margin-top: 2rem">
    <div class="row">
        <div class="col-12">
        <form action="/ed/courses/search" method="post" style="display: flex; justify-content: center">
            {% csrf_token %}
            <div class="form-group" style="display: flex;">
            
                <label for="search" style="text-align: center">Search Courses</label>
                <input id="search" name="search" type="text" >

            
            <input type="submit" value="Search" style="width: auto" class="btn btn-primary">
            </div>
        </form>
        </div>
    </div>
</div>
    {% if courses %}
        <div class="container">
            <div class="row">
                {% for course in courses %}
                    <div class="col-4">
                        <div class="card" style="text-align: center">
                            <div class="card-content">
                                <a href="/ed/courses/{{course.courseCode}}">
                                    <h4 class="card-title">
                                        {{course.courseCode}}: {{course.courseName}}
                                    </h4>
                                    
                                    <div class="btn-group">
                                        <a href="/ed/courses/{{course.courseCode}}" class="btn btn-primary">
                                            View Course
                                        </a>
                                        <form action="/ed/courses/{{course.courseCode}}" method="post">
                                            {% csrf_token %}
                                            <button type="submit" name="code" value="{{course.courseCode}}" class="btn btn-secondary">
                                                {% if subscribed %}
                                                    Remove from your courses
                                                {% else %}
                                                    Add to your courses
                                                {% endif %}
                                            </button>
                                        </form>
                                    </div>
                                </a>
                            </div>                        
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        {% else %}
        <h1>No courses</h1>
    {% endif %}
{% endblock %}