{% extends "core.html" %}
{% block content %}
<div class="container-fluid" style="margin-bottom: 2rem; margin-top: 2rem">
    <div class="row">
        <div class="col-12">
        <form action="/courses/search" method="post" role="search" aria-label="Sitewide" style="display: flex; justify-content: center">
            {% csrf_token %}
            <div class="form-group" style="display: flex; width:100%">
                
                <input id="search" name="search" placeholder="Search Courses" type="search" aria-label="search courses" style="width: 100%">
            <input type="submit" value="Search" class="btn btn-primary" role="search" style='margin-left: 1rem;'>
            </div>
        </form>
        </div>
    </div>
</div>
    {% if courses %}
        <div class="container">
            <div class="row">
                {% for course in courses %}
                    <div class="col col-md-4 col-sm-6">
                        <div class="card" style="text-align: center">
                            <div class="card-content">
                                <a href="/courses/{{course.courseCode}}" aria-label="{{course.courseCode}}: {{course.courseName}}">
                                    <h4 class="card-title">
                                        {{course.courseCode}}: {{course.courseName}}
                                    </h4>
                                    <div class="btn-group">
                                        <a href="/courses/{{course.courseCode}}" aria-label="view course" class="btn btn-primary">
                                            View Course
                                        </a>
                                    </div>
                                </a>
                            </div>                        
                        </div>
                    </div>
                {% endfor %}
            </div>
            
        </div>
        {% else %}
        <h5 style="padding-left:15px;">You haven't added any courses yet. Add courses <a href="/courses" role="button" aria-label="View Courses">here</a></h5>
    {% endif %}
{% endblock %}