{% extends "core.html" %}
{% block content %}

<div class="container-fluid" style="margin-bottom: 2rem; margin-top: 2rem">
    <div class="row">
        <div class="col-12">
        <form action="/messages/search" method="post" role="search" aria-label="Sitewide" style="display: flex; justify-content: center">
            {% csrf_token %}
            <div class="form-group" style="display: flex; width:100%">
                <input id="search" name="search" placeholder="Search People" type="search" aria-label="search people" style="width: 100%">
            <input type="submit" value="Search" class="btn btn-primary" role="search" style='margin-left: 1rem;'>
            </div>
        </form>
        </div>
    </div>
</div>
<div class="container-fluid">
{% if profiles %}
    <ul class="list-group messages-list" role="list">
        {% for profile in profiles %}
            <li class="list-group-item message" role="listitem">
                {{profile.FirstName}} {{profile.LastName}}
                <a class="btn btn-primary" href="{{profile.id}}" aria-label="Send Message">Message</a>
            </li>    
        {% endfor %}
    </ul>
{% endif %}
</div>

{% if members %}
<h1>Messages</h1>


    {% for member in members %}
        <ul class="list-group messages-list">
            <li class="list-group-item message"><a href="{{member.id}}">{{member.FirstName}} {{member.LastName}}</a>
                <a href="{{member.id}}" class="btn btn-primary">View Messages</a>
            </li>
        </ul>
    {% endfor %}
{% else %}
<h4>
    You don't have any messages yet
</h4>
{% endif %}

{% endblock %}