{% extends "core.html" %}
{% block content %}
    
    <div class="message-title-bar">
        <h1 role="heading" aria-label="Messages with {{otherID.FirstName}} {{otherID.LastName}}" aria-level="1">
            Messages with
            <a href="/profile/{{otherID.id}}">
                {{otherID.FirstName}} {{otherID.LastName}}
            </a>
        </h1>
        <a href="/profile/{{otherID.id}}" role="button" class="btn btn-primary">
            View Profile
        </a>
    </div>
    {% if messages %}
    <ul class="list-group message-list" role="list">
        {% for message in messages %}
            
                <li class="list-group-item message" role="listitem">
                    <div class="message-body">
                        {{message.body}}
                    </div>
                    <div class="message-sender">
                        <a href="/profile/{{otherID.id}}">
                            {{message.sender.FirstName}} {{message.sender.LastName}}
                        </a>
                    </div>
                    
                </li>
    
        {% endfor %}
    </ul>
        {% else %}
        <ul class="list-group" role="list"> 
            <li class="list-group-item" role="listitem">
                No messages yet. 
            </li>
        </ul>
    {% endif %}
    
        <form action="/messages/{{id}}" method="post" style="margin-top: 2rem;" role="form">
            {% csrf_token %}
            <div class="form-group">            
                <label for="message">Message</label>
                <textarea id="message" name="message" type="text" class="form-control"> </textarea>
            </div>
            <div class="form-group">              
                <input type="submit" value="Send Message" style="width: auto" class="btn btn-primary" role="button" aria-label="Send Message">
            </div>
            {% if error %}
                <p class="error">{{error}}</p>
            {% endif %}
        </form>
        
    
{% endblock %}