<form action="/ed/register" method="post">
    <label for="username">Username: </label>
    <input id="username" type="text" name="username">

    <label for="email">Email: </label>
    <input id="email" type="email" name="email">

    <label for="firstname">First Name: </label>
    <input id="firstname" type="text" name="firstname">

    <label for="lastname">Last Name: </label>
    <input id="lastname" type="text" name="lastname">
    
    <label for="password">Password:</label>
    <input id=="password" type="password" name="password">

    <input type="submit" value="Submit">
    {% csrf_token %}
</form>