.message {
    display: flex;
    flex-direction: row;
}
.message .message-body {
    flex: 60%;
}

.message .message-sender {
    flex: 40%;
    text-align: right;
}

.member-group {
    display: flex;
}

.member-group h3 {
    margin-left: 1rem;
}